extends htmlHead

block content
	script(src="https://unpkg.com/react@16.0.0/umd/react.production.min.js")
	script(src="https://unpkg.com/react-dom@16.0.0/umd/react-dom.production.min.js")
	script(src="/js/reactApp.js")
	div#app